*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "adobe-clean", sans-serif;
    font-size: 15px;
}
.Header{
    position: relative;
}
.Header_Logo_Content{
    position: absolute;
    top: 0%;
    left: 15%;
}
.Header_Content{
    position: absolute;
    top: 20%;
    left: 20%;
}
.Section_Hero{
    position: relative;
}
.Section_Hero_Inside{
    position: absolute;
    top: 25%;
    left:10%;
}
.footer_hero{
    background-color: black;
    width: 100%;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    border-radius: 15px;
}