*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "adobe-clean", sans-serif;
    font-size: 15px;
}
.Header{
    position: relative;
}
.Header_Logo_Content{
    position: absolute;
    top: 0%;
    left: 10%;
}
.Header_Content{
    position: absolute;
    top: 20%;
    left: 15%;
}
.Header_Content_Paragraph{
    position: absolute;
    bottom: 40%;
    left: 10%;
    font-size: large;
    color: aliceblue;
}
.Section_Hero{
    position: relative;
}
.Section_Hero_Inside{
    position: absolute;
    top: 25%;
    left:10%;
}
.footer_hero{
    background-color: black;
    width: 100%;
}
/* Paragraph align center */
.paragraph_align{
    text-align: justify;


}