@media only screen and (max-width: 600px) {
  .card {
    height: 200px;
    width: 200px;
    padding: 2px;
    margin: 2px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "adobe-clean", sans-serif;
  font-size: 14px;
  color: #000;
}
.Header {
  position: relative;
}
.Header_Logo_Content {
  position: absolute;
  top: 0%;
  left: 9%;
}
.Header_Content {
  position: absolute;
  top: 17%;
  left: 20%;
}
.Header_Content_Paragraph {
  position: absolute;
  bottom: 0%;
  left: 0%;
  top: 0%;
  right: 0%;
  top: 30%;
  left: 10%;
  color: aliceblue;
}
.Section_Hero {
  position: relative;
  background-color: #000;
}

.Section_Hero_Inside {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

/* Social Icons Opened */
.footer_hero {
  background-color: black;
  width: 100%;
}
/* Paragraph align center */
.paragraph_align {
  text-align: justify;
}
.Header_hero {
  position: relative;
  background-color: #000;
}
.Header_Hero_Image {
  background-color: #000;
  opacity: 0.9;
  background-size: cover;
}
/* Header Changes */

.Header {
  position: relative;
  background-color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link.nav_text {
  color: #fff;
  font-size: 12px;
}
.navbar-expand-lg .navbar-toggler {
  color: #fff;
}
.Header::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  background-size: cover;
}
/* Header 1 Text */
.header_1 {
  font-size: 62px;
  font-weight: 50px;
}
/* Header 2 Text */
.Header_2 {
  font-size: 42px;
}
.Header_2_white {
  font-size: 42px;
  color: #fff;
}
/* Header 6 Text */
.Header_6 {
  color: #dda140;
}

/* White text on Footer  */
.white_text {
  color: #fff;
}
/* White text on Footer small  */

.white_text_small {
  color: #b1b1b1;
}

/* Package Header Center */
.package_header {
  text-align: center;
}
/* Social Icons Opened */
.fa,
.fas {
  padding: 15px;
  font-size: 35px;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #dd4b39;
  color: white;
}

.fa-envelope {
  background-color: #dda140;
  color: white;
}

.fa-phone-alt {
  background-color: #dda140;
  color: white;
}

.fa-map-marker-alt {
  background-color: #dda140;
  color: white;
}
.green-color {
  color: green;
}

.listing_items .li .a {
  list-style: none;
}

/* Footer's Link  */
a.footer_link {
  color: #dda140;
  background-color: transparent;
  text-decoration: none;
}
.footer_link:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.footer_link:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* Bread crumb menu  */
ul.breadcrumb {
  list-style: none;
  background-color: transparent;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #fff;
  content: " |\00a0";
}
ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* gallery */
.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.gallery__wrapper a {
  width: calc(100% / 4);
}

/* Testimonial  */
.testimonial .bg_test .testimonials {
  background-color: #f8f8f8;
}

.btn-colour-1 {
  color: #fff;
  background-color: #61483a;
  border-color: #61483a;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #61483a;
  color: #ffffff;
  border-color: #61483a;
}
